@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titan+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.hidden_scroll_x {
  scrollbar-width: none;
}
.hidden_scroll-x_trendingproducts::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  overflow-y: auto;
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e3e3e3;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d6d6d6;
}
.ant-form-item-explain-error {
  font-size: 12px;
}

@keyframes animationScrollYHeader {
  from {
    transform: translateY(-100%);
  }
  to {
    transfrom: translateY(0);
  }
}

.animation_add_cart {
  animation: animation_add_cart 2s;
}

@keyframes animation_add_cart {
  0% {
    transform: translate(-200%, 100%);
    opacity: 0.4;
  }

  70% {
    transform: translateY(-170%, 70%);
    opacity: 0.8;
  }

  100% {
    transform: translate(-50%, 0%);
    opacity: 0.4;
  }
}
